.modal{
&__backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;   
    z-index: 1;  
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

&__data-container {padding: var(--margin-modal);
    position: absolute;
    width: 33rem;
    height: 36.3125rem;
    background-color: var(--primary-color);    
    box-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.14), 0rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

&__close-button { stroke: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus { fill: var(--color-logo);}
}
&__form {display: flex;
    flex-direction: column;
    align-items: center;}

&__field-name {display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: var(--margin-social);

    &-icon {width: 1.125rem;
        height: 1.125rem;
        left: 0.75rem;
        bottom: 0.6875rem;
        position: absolute;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    &:focus-within > &-icon,
    &:hover > &-icon, 
    &:focus > &-icon {
        fill: var(--color-logo);
    }
}
&__feedback-style { 
    margin-top: 0.25rem;
    border: 0.0625rem solid rgba(33, 33, 33, 0.2);
    border-radius: 0.25rem;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 0.75rem 1rem;
    width: 28rem;
    height: 7.5rem;
    resize: none;
    cursor: pointer;

&:hover,
&:focus {border-color: var(--color-logo);}

&::placeholder {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);}
}
&__form-title {font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: var(--dozen-size);}

&__field-input { margin-top: 0.25rem;
    padding-left: 1.875rem;
    width: 28rem;
    height: 2.5rem;
    border: 0.0625rem solid rgba(33, 33, 33, 0.2);
    border-radius: 0.25rem;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); cursor: pointer;

&:hover,
&:focus {border-color: var(--color-logo);}
}
&__user-comment{display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;}

&__checkbox { position: relative;  
    align-items: center;
    padding-left: 1.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;      
    letter-spacing: 0.03em;    
    color: var(--secondary-text-color);
    margin-top: 0.625rem;
    margin-bottom: var(--uncommon-margin);

    &-text {
        margin-bottom: 0; 
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);}
&-box {
        
&-check { position: absolute;
    left: 0;
    top: 0.6875rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 0.9375rem;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); }

&-active { position: absolute;
    left: 0;
    top: 0.6875rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 0.9375rem;
    opacity: 0;
    fill: var(--color-logo);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); }

&:checked~&-check { opacity: 0; }

&:checked~&-active { opacity: 1; }

&:active  { background-color: var(--color-logo); }
}
&-terms {font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--color-logo);}
}
&__send-button {font-weight: 700; padding: 0.875rem 3.625rem;
&:hover,
&:focus {background: var(--button-hover); box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15);}
}
}