.advantages {padding-top: var(--common-padding); padding-bottom: var(--rare-padding); background-color: var(--primary-color);

&__list {display: flex; flex-direction: row; 

&-item {max-width: 16.875rem; margin-right: var(--uncommon-margin);}

&-item:last-child {margin-right: 0;}
}
&__icon-box {display: block;
    max-width: 16.875rem;
    height: 7.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.875rem;
    background-position: center;
    border: none;
    border-radius: 0.25rem;
    background: #F5F4FA;
    cursor: default;}

&__icon {width: 4.375rem; height: 4.375rem;}

&__title {font-weight: 700;
    font-size: var(--pimary-size);
    line-height: 1rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 0.625rem;}

&__descr {font-size: var(--pimary-size);
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin: 0;
    max-width: 16.875rem;}
}