.business {padding-bottom: var(--common-padding); padding-top: var(--rare-padding); background-color: var(--primary-color);

    &__list {max-width: 73.125rem; display: flex; flex-direction: row;
    
    &-item {position: relative;}
    
    &-item:not(:last-child) {margin-right: var(--uncommon-margin);}
    }
    &__descr {padding-top: 1.6875rem; padding-bottom: 1.6875rem; width: 100%; bottom: -0.875rem;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1rem;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-color);
        background: rgba(47, 48, 58, 0.8) 100%;
        position: absolute;}
    }