.clients {

&__list {display: flex; flex-direction: row; align-items: center; justify-content: center;}

&__item:not(:last-child) {margin-right: var(--uncommon-margin);}

&__link {width: 10.625rem; height: 5.75rem; 
    border: 0.0625rem solid rgba(175, 177, 184, 1); 
    border-radius: 0.25rem; background: var(--primary-color); 
    display: flex; align-items: center; justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) border, 250ms cubic-bezier(0.4, 0, 0.2, 1);}

&__link:hover,
&__link:focus {border: 0.0625rem solid var(--color-logo);}

&__icon {width: 6.625rem; height: 3.75rem; fill: var(--social-vector);}

&__link:hover &__icon {fill: var(--color-logo);}
&__link:focus &__icon {fill: var(--color-logo);}
}