$hero-image-gradient : linear-gradient(0deg, var(--main-page-gradient), var(--main-page-gradient));

.hero-section {background-color: var(--main-bg-color); 
    padding-top: var(--main-page-gap); 
    padding-bottom: var(--main-page-gap);
    border: 0.0625rem solid var(--secondary-color);
    background-image: $hero-image-gradient , url('../images/hero-bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100rem;

    @media (min-device-pixel-ratio: 2) , (min-resolution: 2dppx) , (min-resolution: 192dpi) {
        background-image: $hero-image-gradient , url('../images/hero-bg-img@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3) , (min-resolution: 3dppx) , (min-resolution: 288dpi) {
        background-image: $hero-image-gradient , url('../images/hero-bg-img@3x.jpg');
    }

    &__content {align-self: center; 
        display: flex;
        justify-content: space-between; 
        flex-direction: column;}

    &__title {
        font-weight: 900;
        width: 22.5rem;
        font-size: 1.625rem;
        line-height: 2.625rem;
        margin-bottom: var(--uncommon-margin);
        margin-top: 0;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        align-self: center;
        color: var(--primary-color);
    
        @include desktop-up {
            & {
                font-size: var(--headline-size);
                line-height: 3.75rem;
                width: 43.5rem;
            }
        }
        }

    &__button {font-weight: 700;
        padding: 0.5rem 2.3125rem;
        font-weight: 700;
        line-height: 1.875rem;
        align-self: center;
        &:hover,
        &:focus {background: var(--button-hover);}
    }
}