.logo {font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: var(--logo-size);
    line-height: 1.9375rem;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-right: var(--common-padding);
&--colored {color: var(--color-logo);}
&--light {color: var(--primary-color);}
}