.section-title {font-weight: 700;
    font-size: var(--title-size);
    line-height: 2.625rem;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: var(--common-margin);
    margin-top: 0;}