:root {--main-bg-color : #2f303a;
    --secondary-bg-color :#ececec;
    --primary-text-color : #212121;
    --secondary-text-color :#757575;
    --color-logo : #2196f3;
    --button-hover: #188ce8;
    --footer-contacts-color : rgba(255, 255, 255, 0.6);
    --main-page-gradient : rgba(47, 48, 58, 0.4);
    --filters-color : #f5f4fa;
    --borders-color : #eee;
    --primary-color : #fff;
    --secondary-color : #000;
    --vector-color : #afb1b8;
    --footer-vector : #44454e;
    --social-vector : #afb1b8;
    --footer-contacts : 0.5625rem;
    --margin-social : 0.625rem;
    --dozen-size : 0.75rem;
    --pimary-size : 0.875rem;
    --secondary-size : 1rem;
    --project-title : 1.125rem;
    --rare-margin : 1.25rem;
    --logo-size : 1.625rem;
    --uncommon-margin : 1.875rem;
    --clickable-zone : 2rem;
    --title-size : 2.25rem;
    --margin-modal: 2.5rem;
    --headline-size : 2.75rem;
    --rare-padding : 2.9375rem;
    --common-margin : 3.125rem;
    --uncommon-padding : 3.75rem;
    --common-padding : 5.875rem;
    --main-page-gap : 12.5rem;
    --font-family-primary : 'Roboto', sans-serif;
    --font-family-logo : 'Raleway', sans-serif;}